<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="/">
        UMKM Kue Basah
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/products">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <% if (typeof user !== 'undefined' && user) { %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                <%= user.name %>
              </a>
              <ul class="dropdown-menu">                <% if (user.role === 'admin') { %>
                  <li><a class="dropdown-item" href="/admin/dashboard">Dashboard</a></li>
                <% } %>
                <li><a class="dropdown-item" href="/auth/profile">My Account</a></li>
                <li><a class="dropdown-item" href="/orders/history">My Orders</a></li>
                <li><a class="dropdown-item" href="/auth/logout">Logout</a></li>
              </ul>
            </li>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="/auth/login">Login</a>
            </li>
          <% } %>
          <li class="nav-item">
            <a class="nav-link position-relative" href="/orders/cart">
              <i class="fas fa-shopping-cart"></i>
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
                <span id="cart-count">0</span>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
